@media screen and (max-width: 1080px) {
   .menu__btn {
       left: 10px;
   }

   .switch {
       right: 10px;
   }

}

@media screen and (max-width: 730px) {
    .header {
        margin: 0 50px;
    }
}

@media screen and (max-width: 375px) {
    .header {
        margin: 0 10px;
    }

    .navigation {
        width: 100%;
        top: -50px;
    }

    .navigation a {
        padding: 10px 71px;
    }
}